<!DOCTYPE html>
<html lang="en">

<head>

  {% load static from staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "img/cart.png" %}">

    {% block title %}
      <title>Vendas</title>
    {% endblock title %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/rgscale.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


    <!-- MENU -->
    {% include "menu_landpage.html" %}


    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>NUTRIFUNCIONAL</p>
                <p>FUTURO MURAL DE RECADOS OU CONTEUDO QUALQUER</p>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <!-- <section id="service" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis deleniti a perspiciatis accusantium enim quas aliquam dolorem at obcaecati vitae quos tempore ad, sit iste illo et aliquid quo soluta?</p>
            </div>
        </div>
    </section> -->

    <!-- Services Section -->
    <section id="services" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Serviços</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4"><a href="{% url 'product_list' %}">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-orange"></i>
                    <i class="fa fa-tags fa-stack-1x fa-inverse"></i>
                </span></a>
                <h4 class="service-heading"><a href="{% url 'product_list' %}">Produtos</a></h4>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><a href="{% url 'sale_list' %}">
                    <i class="fa fa-circle fa-stack-2x text-orange"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span></a>
                <h4 class="service-heading"><a href="{% url 'sale_list' %}">Vendas</a></h4>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><a href="{% url 'customer_list' %}">
                    <i class="fa fa-circle fa-stack-2x text-orange"></i>
                    <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span></a>
                <h4 class="service-heading"><a href="{% url 'customer_list' %}">Clientes</a></h4>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>conteudo de teste</h2>
                    <p>FOOTER</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="https://twitter.com/rg3915"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/rg3915/vendas"><i class="fa fa-github fa-fw"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+R%C3%A9gisSilvaSantos/posts"><i class="fa fa-google-plus fa-fw"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <!-- <div id="map"></div> -->


    <!-- Footer -->
    <footer>
        <div class="container text-left">
            <p>NUTRIFUNCIONAL &copy; 2016 &middot; BY WMKTS.</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/grayscale.js" %}"></script>

</body>

</html>
